<footer class="footer-dark text-center text-white fixed-bottom">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="m-1" href="https://www.facebook.com/" role="button" target="_blank"><i class="bi-facebook footer-icon"></i
      ></a>

      <!-- Twitter -->
      <a class="m-1" href="https://www.twitter.com/" role="button" target="_blank"><i class="bi-twitter footer-icon"></i
      ></a>

      <!-- Instagram -->
      <a class="m-1" href="https://www.instagram.com/" role="button" target="_blank"><i class="bi-instagram footer-icon"></i
      ></a>

      <!-- Linkedin -->
      <a class="m-1" href="https://www.linkedin.com/" role="button" target="_blank"><i class="bi-linkedin footer-icon"></i
      ></a>

      <!-- Github -->
      <a class="m-1" href="https://www.github.com/" role="button" target="_blank"><i class="bi-github footer-icon"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 footer-copyright">
    © 2022 Copyright:
    <%= link_to "AKFosterDev", "https://www.akfosterdev.com/", class: "footer-link", target: "_blank" %>
  </div>
  <!-- Copyright -->
</footer>