<header>
  <!-- Background image -->
  <div class="text-center bg-image img-fluid">
    <div class="overlay">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="header-text">
          <h1 class="mb-3">On the Rails</h1>
          <h4 class="mb-3">A simple blog for all things rails</h4>
          <a class="btn btn-outline-light btn-lg" href="/articles" role="button">See All Articles</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>